<mat-toolbar color="primary">
    <button (click)="navigateToHomePage()" mat-icon-button class="example-icon">
        <mat-icon>home</mat-icon>
    </button>
    <span (click)="navigateToHomePage()" class="pointer">Home</span>
    <span class="example-spacer"></span>
    <button style="width: 60px;" (click)="navigateToCartPage()" mat-icon-button>
        <mat-icon [matBadge]="quantity" matBadgePosition="before" matBadgeColor="warn">shopping_cart</mat-icon>
        <!-- <span>{{totalAmount | number}} RSD</span> -->
    </button>
    <ng-container *ngIf="loginService.isLoggedIn(); else loggedOut">
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <div class="user-info">
                <div>
                    <img src="../../../assets/images/user.jpg" alt="user_img">
                </div>
                <div class="info" *ngIf="user">
                    <p>{{user.firstName}} {{user.lastName}}</p>
                    <p>{{user.email}}</p>
                </div>
            </div>
            <a routerLink="/orders">
                <button mat-menu-item>
                    <mat-icon>add_shopping_cart</mat-icon>
                    Orders
                </button>
            </a>
            <button (click)="logout()" mat-menu-item>
                <mat-icon>power_settings_new</mat-icon>
                Logout
            </button>
        </mat-menu>
    </ng-container>
    <ng-template #loggedOut>
        <button (click)="navigateToLoginPage()" mat-icon-button>
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </ng-template>
</mat-toolbar>