<mat-toolbar color="primary">
    <button (click)="navigateToHomePage()" mat-icon-button class="example-icon">
        <mat-icon>home</mat-icon>
    </button>
    <span (click)="navigateToHomePage()" class="pointer">Home</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon matBadge="0" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
    <button mat-icon-button class="example-icon">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>