<ng-container>
  <mat-toolbar class="header">
    <app-navbar></app-navbar>
  </mat-toolbar>
  <mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <div class="margin-top">
        <a routerLink="/products">
          <button mat-button color="primary">
            <mat-icon class="icon">dashboard</mat-icon>
            Products
          </button>
        </a>
        <a routerLink="/about">
          <button mat-button color="primary">
            <mat-icon class="icon">business</mat-icon>
            About
          </button>
        </a>
        <a routerLink="/products">
          <button mat-button color="primary">
            <mat-icon class="icon">phone</mat-icon>
            Contact
          </button>
        </a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>