<mat-card class="container">
    <h1>Orders history</h1>
    <table>
        <tr>
            <th>Order ID</th>
            <th>Created at</th>
            <th>Items count</th>
            <th>Total</th>
        </tr>
        <tr *ngFor="let order of orders">
            <td>{{order.id}}</td>
            <td>{{order.createdAt | date: 'shortDate'}}</td>
            <td>{{order.products.length}}</td>
            <td>{{order.total | number}}</td>
        </tr>
    </table>
    <mat-paginator (page)="pageEvent = handlePage($event)" [pageIndex]="currentPage" [length]="total"
        [pageSize]="pageSize">
    </mat-paginator>
</mat-card>