<div class="container">
    <app-navbar></app-navbar>
    <div class="content">
        <h1>Welcome to our store</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quibusdam dignissimos illo? Reprehenderit
            deserunt ad quaerat sint vel rerum repellendus iure eos neque? Laborum rerum atque cum, pariatur porro
            delectus.
            Tenetur odit hic aut sit mollitia, sapiente repellendus voluptate numquam, voluptatum laborum ipsum
            laudantium alias nesciunt ut doloribus necessitatibus minus quibusdam dignissimos expedita similique?
            Dolores nesciunt unde consequatur nihil enim?</p>
        <div class="action-btn">
            <button mat-raised-button color="primary">Check out our awesome products</button>
        </div>

    </div>
</div>