.container {
  margin: 20px 15px;
}

.product-details {
  border-bottom: 1px solid #eee;
}

.images {
  padding: 10px;
}

img {
  width: 120px;
  margin-right: 7px;
}

.action-btn {
  padding: 15px 5px;
}
