<mat-card class="container">
    <div class="product-details">
        <h4>Laptop ProBook</h4>
    </div>
    <div class="product-details">
        <p><i>Price:</i> $300</p>
        <p><i>Code:</i> 2</p>
        <p><i>Created at:</i> 27/7/2020</p>
    </div>
    <div class="product-details images">
        <img src="../../../../assets/images/no_image.jpg" alt="product-img">
        <img src="../../../../assets/images/no_image.jpg" alt="product-img">
        <img src="../../../../assets/images/no_image.jpg" alt="product-img">
        <img src="../../../../assets/images/no_image.jpg" alt="product-img">
    </div>
    <div class="action-btn">
        <button mat-raised-button color="primary">
            <mat-icon>shopping_cart</mat-icon>
            Add to cart
        </button>
    </div>
</mat-card>